# Start of script
# Advanced test INI file
[.ShellClassInfo]
ConfirmFileOp=0
NoSharing=1
IconFile=/Android_Logo_HighDetail.png
IconIndex=0
InfoTip=The Android x64 project source repository

# File info
# File type: Windows INI file [desktop.ini] (*.ini)
# File version: 1 (2022, Sunday, December 11th at 6:37 pm PST)
# Line count (including blank lines and compiler line): 16

# End of script
